base.url=http://localhost
db.url=mysql://username:password@host/db

#drupal.profile=devtrac

#sites.subdir=verynotdefault
site.mail=ishmael@mountbatten.net
account.name=admin
account.pass=admin
account-mail=ishmael@mountbatten.net
drupal.args=site_default_country=UG
